option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-1:329511059546:certificate/8a1ec846-76bf-4476-bd9e-e34be2171b73
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
